@keyframes dashAnim {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
  }

  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: blue;
  }
}

div {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.st0 {
  fill: transparent;
  stroke: #ff9966;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 200;
  animation: dashAnim 5s linear forwards;
}
